<!DOCTYPE html>
<html>
<head>
  <meta property="og:description" content="RhiLDraw, a literate program for importing LEGO models from LDraw files." />
  <meta property="description" content="RhiLDraw, a literate program for importing LEGO models from LDraw files." />
  [AUTHORS]
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
[CONTENT]
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
</script>
</body>
</html>